# File >50MB (GitHub limit) - diupload via Release
krita-asli/usr/lib/kritaplugins/krita_gmic_qt.so
krita-asli/usr/lib/libOpenColorIO.so.2.5

# Build artifacts
*.o
build/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
